.statistici-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0d1b2a;
    padding: 0.5rem 2rem;
    flex-wrap: wrap;
    color: black;
}

.stat-box {
    text-align: center;
    margin: 1rem;
    color: #ffffff;
}

.stat-icon {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.stat-number {
    font-size: 2.5rem;
    font-weight: bold;
}

.stat-text {
    margin-top: 0.5rem;
    font-size: 1rem;
}
